MetroMonitor.MobileInterface/Service References/DataRepositoryService/DataRepository8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3460/DataRepository.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" />
  <xs:complexType name="ArrayOfKeyValueOfintstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintstring" nillable="true" type="tns:ArrayOfKeyValueOfintstring" />
  <xs:complexType name="ArrayOfKeyValueOfGraphCounterDataContractArrayOfResultsDataContractRsuarXAy">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfGraphCounterDataContractArrayOfResultsDataContractRsuarXAy">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" name="Key" nillable="true" type="q1:GraphCounterDataContract" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" name="Value" nillable="true" type="q2:ArrayOfResultsDataContract" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfGraphCounterDataContractArrayOfResultsDataContractRsuarXAy" nillable="true" type="tns:ArrayOfKeyValueOfGraphCounterDataContractArrayOfResultsDataContractRsuarXAy" />
</xs:schema>