MetroMonitor.DesktopInterface/Service References/MetroMonitorWebRepository/DataRepository5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3460/DataRepository.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MetroMonitor.Entities" />
  <xs:complexType name="ResultsData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetroMonitor.Entities" minOccurs="0" name="Result" nillable="true" type="q1:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultsData" nillable="true" type="tns:ResultsData" />
  <xs:simpleType name="StatusData.Status">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Green" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Red" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusData.Status" nillable="true" type="tns:StatusData.Status" />
  <xs:complexType name="ArrayOfDeviceStatusResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceStatusResult" nillable="true" type="tns:DeviceStatusResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceStatusResult" nillable="true" type="tns:ArrayOfDeviceStatusResult" />
  <xs:complexType name="DeviceStatusResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusData.Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceStatusResult" nillable="true" type="tns:DeviceStatusResult" />
</xs:schema>