MetroMonitor.DesktopInterface/Service References/MetroMonitorWebRepository/DataRepository4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetroMonitor.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetroMonitor.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageRead" type="xs:double" />
      <xs:element minOccurs="0" name="DeviceCounter" nillable="true" type="tns:DeviceCounterBase" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Intervals" type="xs:int" />
      <xs:element minOccurs="0" name="LogDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaximumRead" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumRead" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="DeviceCounterBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:Device" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogInterval" type="xs:int" />
      <xs:element minOccurs="0" name="MaxThreshold" type="xs:double" />
      <xs:element minOccurs="0" name="MinThreshold" type="xs:double" />
      <xs:element minOccurs="0" name="ReadInterval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceCounterBase" nillable="true" type="tns:DeviceCounterBase" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="Counters" nillable="true" type="tns:ArrayOfDeviceCounterBase" />
      <xs:element minOccurs="0" name="Deleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="ArrayOfDeviceCounterBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceCounterBase" nillable="true" type="tns:DeviceCounterBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceCounterBase" nillable="true" type="tns:ArrayOfDeviceCounterBase" />
</xs:schema>