MetroMonitor.MobileInterface/Service References/MobileDataRepo/DataRepository8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.129:8080/DataRepository.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.1.129:8080/DataRepository.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" />
  <xs:import schemaLocation="http://192.168.1.129:8080/DataRepository.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" />
  <xs:import schemaLocation="http://192.168.1.129:8080/DataRepository.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Counters" />
  <xs:import schemaLocation="http://192.168.1.129:8080/DataRepository.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Results" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableDevicesResult" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCountersForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCountersForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableCountersForDeviceResult" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" minOccurs="0" name="GetResultResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" minOccurs="0" name="GetTestDataResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" minOccurs="0" name="composite" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="DeviceDetailsResult" nillable="true" type="q7:DeviceDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDeviceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="LoadDeviceListResult" nillable="true" type="q8:DeviceDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Counters" minOccurs="0" name="counter" nillable="true" type="q9:CounterCreate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMetricResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMetricResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="counterID" type="xs:int" />
        <xs:element minOccurs="0" name="read" type="xs:int" />
        <xs:element minOccurs="0" name="log" type="xs:int" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMetricResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAvailableCounters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAvailableCountersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadAvailableCountersResult" nillable="true" type="q10:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetricDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="counterId" type="xs:int" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetricDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="MetricDetailsResult" nillable="true" type="q11:CounterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetricDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="counterId" type="xs:int" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetricDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="GetMetricDetailsResult" nillable="true" type="q12:MetricDetailsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMetricList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMetricListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="LoadMetricListResult" nillable="true" type="q13:CounterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComboBoxCounterData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComboBoxCounterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="ComboBoxCounterDataResult" nillable="true" type="q14:CounterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetricsOverveiwForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetricsOverveiwForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" minOccurs="0" name="MetricsOverveiwForDeviceResult" nillable="true" type="q15:GraphDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService" minOccurs="0" name="GetResultsSetResult" nillable="true" type="q16:GraphDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="counterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MetroMonitor.WebService.DataMembers" minOccurs="0" name="GetCurrentStatusResult" nillable="true" type="q17:StatisticsDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesForAllDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesForAllDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Results" minOccurs="0" name="GetStatusesForAllDevicesResult" nillable="true" type="q18:ArrayOfDeviceStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterSummaryStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterSummaryStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MetroMonitor.ViewModels.Results" minOccurs="0" name="GetCounterSummaryStatusResult" nillable="true" type="q19:DeviceMetricStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>